<div class="container">
    <!-- Assuming Angular Router outlet -->
   <div class="card">
     <nav class="navbar">
      <ul class="nav-links">
         <li class="nav-item"><a routerLink="book" routerLinkActive="active" class="nav-link">Book Now</a></li>
         <li class="nav-item"><a routerLink="show" routerLinkActive="active" class="nav-link">My Booking</a></li>
         <li class="nav-item"><a routerLink="show-ticket" routerLinkActive="active" class="nav-link">Ticket</a></li>
      </ul>
     </nav> 
   </div>
</div>
<div class="container2">
   <router-outlet></router-outlet>
</div>

